.main-webpage {
    color: black;
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 30px 30px 30px 30px;
    margin: 30px 30px 30px 30px;
}
.sub-page {
    color: green;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 30px 30px 30px 30px;
    margin: 30px 30px 30px 30px;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.why-join {
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px 30px 30px 30px;
    margin: 30px 30px 30px 30px;
    border-style:solid;
    background-color:rgb(239, 229, 202);
}
.mailing-list, .donate {
    padding: 30px 30px 30px 30px;
    margin: 30px 30px 30px 30px;
    border-style:solid;
    background-color:rgb(239, 229, 202);
}
.footer {
    color: black;
    font-size: 18px;
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main-body {
    padding: 150px 30px 150px 30px;
    margin: 10px 10px 10px 10px;
}
#about-clubs {
    color: black;
    font-size: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 10px 30px 30px;
    margin: 10px 10px 30px 30px;
}
#about-info {
    color: black;
    font-size: 17px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 10px 30px 30px;
    margin: 10px 10px 30px 30px;
    text-align:left;
    width:40%;
}
#hos-logo {
    padding: 10px 10px 30px 30px;
    margin: 10px 10px 30px 30px;
    width:10%;
    float:right;
}
#name, #submit {
    width:312px;
}
#email, #phone {
    width:150px;
}
#message {
    width:312px;
    height:50px;
}
#border {
    color:black;
    border-style:solid;
    background:rgb(239, 229, 202);
}

#about-us{
  color: #2C2E2A;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 700;
  font-style: italic;
}

#about-us-info{
  color: black;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 10px 30px 30px;
  text-align: center;
  line-height: 1.8em;
  margin: auto;
  width: 40%;
 
}

#meet-the-team{
  color: #2C2E2A;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 700;
  font-style: italic;
}

#pic{
  width: 30%;
  border-radius: 50%;
  margin-bottom: 10px;
}

#container-1 {
    display: flex;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 20%;
    text-align: center;
    padding: 20px;
    justify-content: space-evenly!important;

}

#container-2 {
    display: flex;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding: 20px;
    justify-content: space-evenly!important;
  
}


#container-3 {
    display: flex;
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    padding: 20px;
    justify-content: space-around;
}

#container-4 {
    /* display: flex; */
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    padding: 20px;
    justify-content: space-around;
}


#full-name{
  color: #2C2E2A;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;

  font-weight: bold;
  font-style: italic;
  margin: 0;
}

#title{
  color: #2C2E2A;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 200;
  margin:0;
}

#bio{
  color: #2C2E2A;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  width: 70%;
  margin: auto;
  font-weight: bold;
  
}



